[Unit]
Description=solis2mqtt
After=network.target

[Service]
PIDFile=/run/solis2mqtt/pid
User=solis2mqtt
Group=solis2mqtt
WorkingDirectory=/opt/solis2mqtt
ExecStart=python3 solis2mqtt -d
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target